body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  background-color: #eee;
}

a {
  color: #1a1e20;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.text-muted {
  opacity: 0.5;
}

.d-flex {
  display: flex;
}
.d-flex.flex-center {
  justify-content: center;
  align-items: center;
}
.d-flex.space-around {
  justify-content: space-around;
}
.d-flex.flex-right {
  justify-content: flex-end;
}
.d-flex.flex-left {
  justify-content: flex-end;
}

.py-4 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2.5rem;
}

.mr-4 {
  margin-right: 5.5rem;
}
.mr-2 {
  margin-right: 2.5rem;
}
.mr-1 {
  margin-right: 1.5rem;
}

.mb-1 {
  margin-bottom: 1.5rem;
}
.my-2 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.text-bold {
  font-weight: 700;
}

.text-bigger {
  font-size: 1.5em;
}

.shadow {
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

.rounded {
  border-radius: 0.6rem;
}
.rounded-circle {
  border-radius: 50%;
}
header {
  background-color: #1d2124;
  color: #fff;
}

nav {
  background-color: #1a1e20;
  padding: 1.5rem 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
nav h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
}

nav h1 span {
  font-weight: 300;
}

/* REPO INFO SECTION */
.repo-info .-repo-image img {
  width: 7.5rem;
  height: auto;
}
.repo-info .--repo-name {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}
.repo-info .--repo-name span {
  font-weight: 300;
}
.--open-state {
  background-color: #2cbe4e;
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-weight: 700;
}
.-issue-item {
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.-issue-item:hover {
  background-color: #f5f5f5;
}
.--issue-content-box {
  width: 90%;
}
.--issue-comment-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 1.5rem;
  color: #1a1e20;
}
.--issue-date {
  font-size: 1.25rem;
}
.--issue-title {
  font-weight: 400;
  font-size: 2.2rem;
  letter-spacing: 0.01rem;
}
.--issue-author {
  font-weight: 400;
}

.comment-item {
  background-color: #fff;
}
.-comment-image {
  margin: 0 auto;
  border-radius: 50%;
}
